@keyframes modoFiesta {
    0% {
        color: white;
        text-shadow: red .1rem .1rem 1rem;
    }

    20% {
        color: white;
        text-shadow: blue .1rem .1rem 1rem;
    }

    40% {
        color: white;
        text-shadow: greenyellow .1rem .1rem 1rem;
    }

    50% {
        color: white;
        text-shadow: white .1rem .1rem 1rem;
    }

    60% {
        color: white;
        text-shadow: magenta .1rem .1rem 1rem;
    }

    80% {
        color: white;
        text-shadow: cyan .1rem .1rem 1rem;
    }

    90% {
        color: white;
        text-shadow: white .1rem .1rem 1rem;
    }

    100% {
        color: white;
        text-shadow: yellow .1rem .1rem 1rem;
    }
}