@import "variables";

h6 {
    color: $primary-color;
    
    a {
        
        color: $primary-color;
        
        &:hover {
            color: inherit ;
        }
    }
}

.colorFont {
    color: $primary-color;
}