body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(45deg, rgb(141, 238, 245) 0%, rgba(88, 127, 170, 1) 50%, rgba(146, 69, 97, 1) 100%);
    min-height: 100vh;
}

.nav-link {
    text-transform: uppercase;
    color: #5C9BA0;
}

.nav-link:hover {
    font-weight: 800;
    color: #5C9BA0;
    border-bottom: solid 1px #5C9BA0;
}

.active {
    background-color: #5C9BA0;
}
h6 a:hover {
    color: inherit;
}

.somos {
    color: transparent;
    -webkit-text-stroke: .1rem;
    -webkit-text-stroke-color: white;
}

.fiesta {
    color: white;
    animation: modoFiesta 3s 0s alternate infinite ease;
}
.colorFont {
    color: #5C9BA0;
}
.mainImag {
    background-image: url(/Images/fiesta-casamiento.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 75vh;
}

.fontSize {
    font-size: clamp(3.5rem, 16vw, 5.3rem);
}

@media screen and (min-width: 576px) {
}

@keyframes modoFiesta {
    0% {
        color: white;
        text-shadow: red .1rem .1rem 1rem;
    }

    20% {
        color: white;
        text-shadow: blue .1rem .1rem 1rem;
    }

    40% {
        color: white;
        text-shadow: greenyellow .1rem .1rem 1rem;
    }

    50% {
        color: white;
        text-shadow: white .1rem .1rem 1rem;
    }

    60% {
        color: white;
        text-shadow: magenta .1rem .1rem 1rem;
    }

    80% {
        color: white;
        text-shadow: cyan .1rem .1rem 1rem;
    }

    90% {
        color: white;
        text-shadow: white .1rem .1rem 1rem;
    }

    100% {
        color: white;
        text-shadow: yellow .1rem .1rem 1rem;
    }
}